@model Summa.Forms.Models.Form
@{
    Layout = "_FormLayout";
}

<h1>@Model.Title editor</h1>

<form id="form">
    
</form>

@section Scripts
{
    <script src="~/js/forms.js" asp-append-version="true"></script>
    <script type="text/javascript">
        const model = @Html.Raw(Json.Serialize(Model))
        console.log(model)
        
        startEditor(model);
    </script>
}