@model Summa.Forms.Models.Form
@{
    Layout = "_FormLayout";
}

<h1>@Model.Title</h1>

@section Scripts {
    <script src="~/js/editor.js" asp-append-version="true"></script>
}

<script type="text/javascript">
   const model = @Html.Raw(Json.Serialize(Model));
   console.log(model);
</script>