@{
    ViewData["Title"] = "Mijn Formulieren";
}

<div class="waves-container background">
    <partial name="_NavigationPartial"/>
    <div class="row horizontal-center">
        <div class="col-10 col-sm-8">
            <div class="header">
                <div class="header-title">
                    Recent aangemaakt
                </div>
            </div>
        </div>
    </div>

    <div class="row horizontal-center">
        <div class="col-10">
            <div class="row horizontal-center">
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
            </div>
        </div>
    </div>

    <div class="vector-container">
        <svg class="svg-waves" preserveAspectRatio="xMaxYMax slice" viewBox="0 0 500 150">
            <path d="M0.00,85.00 C255,150 255,0.00 500,85.00 L500.00,150.00 L0.00,150.00 Z"></path>
            <path d="M0.00,110.00 C255,150 255,20.00 500,110.00 L500.00,150.00 L0.00,150.00 Z"></path>
            <path d="M0.00,130.00 C255,150 255,40.00 500,130.00 L500.00,150.00 L0.00,150.00 Z"></path>
        </svg>
    </div>
</div>

<div class="library">
    <div class="lib-content-header">
        <div class="row horizontal-center">
            <div class="col-10 col-sm-8">
                <div class="header">
                    <div class="header-title">
                        Mijn formulieren
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-lg-7 col-xl-5">
                <div class="header">
                    <div class="searchbar">
                        <input type="text" placeholder="Zoek naar een titel of auteur...">
                    </div>
                    <div class="searchbar">
                        <button>+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row horizontal-center">
        <div class="col-10">
            <div class="row horizontal-center">
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
            </div>
            <div class="row horizontal-center">
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
            </div>
            <div class="row horizontal-center">
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
                <partial name="_FormBlockPartial"/>
            </div>
        </div>
    </div>

    <div class="row horizontal-center">
        <div class="col-2">
            <div class="btn-page-navigators">
                <button>
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button>
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>