@{
    ViewData["Title"] = "Home Page";
}


<partial name="_NavigationPartial"/>
<div class="row left">
    <div class="col-12 col-sm-10 col-lg-7 col-xl-5">
        <div class="header">
            <div class="title">
                De manier om jouw <span class="highlight">formulieren</span> te ontwerpen, maken en <span class="highlight">delen.</span>
            </div>
            <div class="description">Summa Forms is het platform voor het maken van prachtige formulieren in een mum van tijd.</div>
            <div class="header-btn-new-form">
                <button>
                    Begin nu!
                </button>
            </div>
        </div>
    </div>
</div>

<div class="waves-container background">
    <svg class="svg-waves" preserveAspectRatio="xMaxYMax slice" viewBox="0 0 500 150">
        <path d="M0.00,85.00 C255,150 255,0.00 500,85.00 L500.00,150.00 L0.00,150.00 Z"></path>
        <path d="M0.00,110.00 C255,150 255,20.00 500,110.00 L500.00,150.00 L0.00,150.00 Z"></path>
        <path d="M0.00,130.00 C255,150 255,40.00 500,130.00 L500.00,150.00 L0.00,150.00 Z"></path>
    </svg>
</div>