<div class="row horizontal-center">
    <div class="col-12 col-lg-6 col-xl-5">
        <form id="form" class="form">
            <div class="container form">
                <div class="line-input">
                    <input class="display-3" placeholder="The title of your form" type="text" data-initial-title="Question 1">
                    <span class="line"></span>
                </div>
                <div class="line-input">
                    <input type="text" placeholder="The forms' very own description" data-initial-title="Question 1">
                    <span class="line"></span>
                </div>
            </div>
            <div class="container question">
                <div class="line-input">
                    <input type="text" value="Question 1" data-initial-title="Question 1">
                    <span class="line"></span>
                </div>
                <div class="option">
                    <span class="material-icons">radio_button_unchecked</span>
                    <div class="line-input">
                        <input type="text" value="Option 1" data-initial-title="Option 1">
                        <span class="line"></span>
                    </div>
                    <div class="line-input">
                        <input type="number" data-initial-value="0">
                        <span class="line"></span>
                    </div>
                    <span class="btn-icon remove material-icons">close</span>
                </div>
                <div class="option">
                    <span class="material-icons">radio_button_unchecked</span>
                    <div class="line-input">
                        <input type="text" value="Option 2" data-initial-title="Option 2">
                        <span class="line"></span>
                    </div>
                    <div class="line-input">
                        <input type="number" data-initial-value="0">
                        <span class="line"></span>
                    </div>
                    <span class="btn-icon remove material-icons">close</span>
                </div>
                <div class="option">
                    <span class="material-icons">radio_button_unchecked</span>
                    <div class="line-input">
                        <input type="text" value="Option 3" data-initial-title="Option 3">
                        <span class="line"></span>
                    </div>
                    <div class="line-input">
                        <input type="number" data-initial-value="0">
                        <span class="line"></span>
                    </div>
                    <span class="btn-icon remove material-icons">close</span>
                </div>
                <div class="option">
                    <span class="material-icons">radio_button_unchecked</span>
                    <div class="line-input">
                        <input type="text" value="Option 4" data-initial-title="Option 4">
                        <span class="line"></span>
                    </div>
                    <div class="line-input">
                        <input type="number" data-initial-value="0">
                        <span class="line"></span>
                    </div>
                    <span class="btn-icon remove material-icons">close</span>
                </div>
                <div class="option">
                    <span class="material-icons">radio_button_unchecked</span>
                    <div class="line-input">
                        <input type="text" placeholder="Click to add an option" class="add">
                        <span class="line"></span>
                    </div>
                </div>
                <div class="container-footer">
                    <span class="btn-icon remove material-icons">delete</span>
                    <span class="btn-icon clone material-icons">file_copy</span>
                    <span class="btn-icon add material-icons">add_circle_outline</span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="waves-container background fill">
    <svg class="svg-waves" preserveAspectRatio="xMaxYMax slice" viewBox="0 0 500 150">
        <path d="M0.00,85.00 C255,150 255,0.00 500,85.00 L500.00,150.00 L0.00,150.00 Z"></path>
        <path d="M0.00,110.00 C255,150 255,20.00 500,110.00 L500.00,150.00 L0.00,150.00 Z"></path>
        <path d="M0.00,130.00 C255,150 255,40.00 500,130.00 L500.00,150.00 L0.00,150.00 Z"></path>
    </svg>
</div>