<div class="col-12 col-sm-5 col-lg-5 col-xl-2 m-5">
  <div class="lib-block">
  <div class="lib-block-image">
    <img src="https://via.placeholder.com/150" alt="">
  </div>
    <div class="lib-block-text">
      <div class="lib-block-description">
        <div class="lib-block-title">Formulier titel</div>
        <div class="lib-block-info">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, laboriosam. Lorem
            ipsum dolor, sit amet consectetur adipisicing elit. Molestiae nesciunt aliquam ea
            veritatis voluptatem error, praesentium commodi quos placeat quidem repellat
            reprehenderit reiciendis ad. Inventore soluta possimus saepe consequuntur et!
          </p>
        </div>
      </div>
      <div class="lib-block-creator">
        Gemaakt door
      </div>
    </div>
    </div>
</div>