<div class="heading">
    <div class="title">
        De manier om jouw <span class="highlight">formulieren</span> te ontwerpen, maken en <span class="highlight">delen.</span>
    </div>
    <div class="description">Summa Forms is het platform voor het maken van prachtige formulieren in een mum van tijd.</div>
    <div><button class="btnStartNow">
                 Begin nu!
             </button></div>
</div>