@if (User.Identity.IsAuthenticated)
{
    <li>
        <a href="https://localhost:5000/Account/Manage">User</a>
    </li>
    <li>
        <a asp-controller="Authentication" asp-action="SignOut">Logout</a>
    </li>
}
else
{
    <li>
        <a asp-controller="Authentication" asp-action="SignIn">Login</a>
    </li>
}