<div class="nav">
    <div>
        <img class="logo" src="~/resources/logo_summa.png" alt="Summa"/>
    </div>
    <ul class="nav-items">
        <li><a asp-controller="Home" asp-action="Index">Start</a></li>
        <li><a asp-controller="Home" asp-action="MyForms">Formulieren</a></li>
        <li><a asp-controller="Home" asp-action="Library">Bibliotheek</a></li>
        <partial name="_LoginPartial"/>
    </ul>
</div>