body {
  overflow-x: hidden;
}

.lib-content-header {
  margin-top: 50px !important;
  
  .header {
    color: black !important;
    animation: none !important;
    font-size: 0.75em !important;
    text-align: center;
    flex-direction: row !important;
  }
  
  .searchbar {
    input{
      border-radius: 25px;
      height: 35px;
      width: 200px;
      padding-left: 15px;
      border: 1px solid #aaaaaa;
      box-shadow: 0 0 10px 0 #00000030;
      
      &:focus,
      &:active
      {
        outline: none;
        border: 2px solid #717171;
        padding-left: 14px;
      }
    }

    button {
      margin-left: 15px;
      font-size: 25px;
      font-weight: bold;
      background-color: $summa-pink;
      border-radius: 100px;
      border: none;
      height: 35px;
      width: 35px;
      color: white;
      box-shadow: 0 0 10px 0 #00000050;

      &:focus,
      &:active
      {
        outline: none;
      }
    }
  }
}

.lib-category-container {
  margin: 25px 0 0 10vw;
  font-family: 'Open Sans', sans-serif;
}

.category-title {
  font-weight: bold;
  font-size: 1.2em;
}

.categories {
  margin-top: 20px;
  border-radius: 15px;
  
  .category {
    margin-top: 15px;
  }
  
  .category-selected {
    font-weight: 600;
    background-color: black;
  }
}

.btn-page-navigators {
  button {
    margin: 25px;
    border: none;
    background: none;
    font-size: 30px;
    color: #434343;

    &:focus,
    &:active
    {
      outline: none;
    }
  }
}
