.row {
  &.fill {
    height: 100%;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  &.vertical-center {
    justify-content: center;
  }

  &.left {
    justify-content: space-around;

    &:after {
      content: "";
    }
  }
}